<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Yellow Bellies Art Supplies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
  </head>
  <body>
   <%= render 'layouts/header' %>
   <%=render 'layouts/search'%>
    <div class="container">
     <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
 </body>
</html>
